useDynLib(RcppClassicExamples)

export(RcppExample,
       print.RcppExample,
       RcppDateExample,
       RcppParamsExample,
       RcppVectorExample,
       RcppMatrixExample,
       RcppStringVectorExample
)


